@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 22 80% 10%;
    --card: 0 0% 100%;
    --card-foreground: 22 80% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 22 80% 10%;
    --primary: 22 87% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 13 43% 90%;
    --secondary-foreground: 22 80% 10%;
    --muted: 13 43% 90%;
    --muted-foreground: 22 80% 40%;
    --accent: 22 80% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 13 43% 85%;
    --input: 13 43% 85%;
    --ring: 22 87% 51%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 22 80% 5%;
    --foreground: 13 43% 90%;
    --card: 22 80% 8%;
    --card-foreground: 13 43% 90%;
    --popover: 22 80% 8%;
    --popover-foreground: 13 43% 90%;
    --primary: 22 87% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 22 80% 12%;
    --secondary-foreground: 13 43% 90%;
    --muted: 22 80% 12%;
    --muted-foreground: 13 43% 60%;
    --accent: 13 43% 90%;
    --accent-foreground: 22 80% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 22 80% 12%;
    --input: 22 80% 12%;
    --ring: 22 87% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
